
.Navdiv {
    padding-bottom: 1%;
}
li.NavP{
      float: left;
    padding-left: 3%;
}

/*td {

        width: 1%;
}*/
/*td:nth-child(2) {

        width: 1%;
}

td:nth-child(3) {

        width: 1%;
}*/
/*
td:nth-child(4) {

        width: 1%;
}

td:nth-child(5) {

        width: 1%;
}

td:nth-child(5) {

        width: 1%;
}*/
/*td:first-of-type {

        width: 1%;
}*/

.promotable {
    min-height: 653px;
}

.Tablediv {
    /* margin-left: -40%; */
    width: 100%;
    min-height: 567px;
    margin-top: -2%;
}
table.tableclass {
           width: 70%;
    margin-left: 15%;
    /* padding-left: 15%; */
    /* min-height: 653px; */
    /* margin-right: 30%; */
    border: transparent;
}

table, th, td {
   border: 1px solid #BEC0C2;
   color: #2C2D72;
font-family:  Cairo;
}

table, tablehead,tr, th, td {
    text-align: center;
}
table, tablehead,tr, th {
    text-align: center;
    font-size: 16px;
}

td.PTD{

font-size: 14px;
    /*padding: 7px 0;*/
        padding: 7px 5px;
    text-align: center;
        padding-left: 1%;
    padding-right: 1%;

}

td.PTDS{

font-size: 14px;

}
       
/*table td{
    width:25%;
    display:table-cell;
    vertical-align:top;
    min-height:30px;
}
td.PTD{


    height:100%;

}*/
table td{
    white-space: nowrap;  /** added **/
}

td.tableheadD {
     border: none;
     width: 20%;
     padding-bottom: 1%;
}
td.tableheadF {
     border: none;
     width: 15%;
     padding-bottom: 1%;
}
td.tableheadDT {
     border: none;
     padding-bottom: 1%;
     width: 10%;
}
td.tableheadDTR {
     border: none;
     width: 25%;
     padding-bottom: 1%;
}

table { 
     table-layout: auto;
    border-collapse: collapse;
}
img.tdImg {
    /*margin-top: 10%;*/
        vertical-align: middle;
    cursor: pointer;
}

input.login{

     border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #bec0c2;
  border-width:25px 30px 1px 20px;
border-image:url("./image.png") 25 30 10 20 repeat;
text-align: right;
    padding-top: 3%;
    font-family: Cairo;
    font-size: 16px;
        width: 350px;
}


label.login {
    text-align: right;
}


.button{
padding-top: 2%;
}

@font-face {
    font-family: Cairo;
    src: url(./Fonts/Cairo-Regular.otf);
}

input.cool {
    /*background-image: url("./Rectangle 6.png");*/
background-repeat: no-repeat;
background-position: left;
padding-left: 500px;
    border-radius: 40px;
    padding: 20px;
    width: 200px;
    /*height: 45px;*/
    font-family: Cairo;
    font-size: 20px;
        line-height: 5px;
  background: #2C2D72;
  background-image: -webkit-linear-gradient(left, #2C2D72, #28B8A8);
  background-image: -moz-linear-gradient(left, #2C2D72, #28B8A8);
  background-image: -ms-linear-gradient(left, #2C2D72, #28B8A8);
  background-image: -o-linear-gradient(left, #2C2D72, #28B8A8);
  background-image: linear-gradient(to right, #2C2D72, #28B8A8);
color: white;
}

.loginbody {
   text-align: center;
    padding-top: 5%;
}




















body {margin:0;
/*overflow-x: hidden;*/
    min-width: 1392px;
font-family: Cairo !important;
}

ul {
    /*list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2C2D72;
    top: 0;
    width: 100%;
    height: 115px;
    color: #BEC0C2;*/
}
ul.NavdivUl{
   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2C2D72;
    /*position: fixed;*/
    top: 0;
    width: 100%;
    height: 115px;
    /*float:right;*/
    color: #BEC0C2; 
}

li {
        float: right;
    font-family: Cairo;
    /* font-size: 38px; */
    padding-top: 27px;
    padding-right: 2%;
}

li a {
      display: block;
    /* color: white; */
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    color: #BEC0C2;
        cursor: pointer;
    /* padding-bottom: 50%; */
    margin: 10px;
    font-family: Cairo;
    font-size: 16px;
}

li p {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    margin: 10px;
    cursor: pointer;
    float: left;
    font-family: Cairo;
    font-size: 16px;
   
}


/*li a:hover:not(.active) {
    background-color: #111;
}*/

.active {
    color: #28B8A8;
    cursor: pointer;
    
}

a.active {
     border-bottom: 2px solid #00FECD;
     padding-bottom: 5%;
    /*width: 50%;*/
}

li.active.li {
    padding-right: 32%;
}

li.Header.Logo {
    padding-right: 5%;
    /*padding-top: 25%;*/

}

p {
    font-family: Cairo;
    color: #848080;
    font-size: 12px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    white;
}
.fake-input {
     width: 100%
      }
.fake-input input { border:none; 
background:#fff; 
display:block; 
/*width: 100%; */
box-sizing: border-box; 
background: #BEC0C2; 
background-repeat: no-repeat;
background-position: left;
    padding-right: 40px;
    border-radius: 40px; 
    text-align: right;
    font-family: Cairo;
    font-size: 16px;
    }

    .fake-input-left {
        /*width: 14%;
    float: right;
    padding-right: 12%;*/
        /* width: 14%; */

    float: right;
    margin-right: 13%;
    position: relative;
}


.fake-input-left img {
       position: absolute;
    margin-top: -10%;
    margin-left: 180px;
}





.fake-inputFML {
        width: 100%;
    /* padding-right: 17%; */
    padding-top: 25%;
      }
.fake-inputFML input { border:none; 
background:#fff; 
display:block; 
/*width: 100%; */
box-sizing: border-box; 
background: #BEC0C2; 
background-repeat: no-repeat;
background-position: left;
    padding-right: 40px;
    border-radius: 40px; 
    text-align: right;
    font-family: Cairo;
    font-size: 16px;
    }

    .fake-input-leftFML {
       /* width: 14%; */
    float: right;
    margin-right: 25%;
    position: relative;
}


.fake-input-leftFML img {
        position: absolute;
    margin-top: 6%;
    margin-left: 150px;
}





.fake-input-right {
       /*width: 150%;
    float: left;
    margin-top: -4%;
     margin-right: 46%; */
         width: 100%;
    float: left;
}
.fake-input-right22 {

         width: 100%;
    float: left;
}

.fake-input-right-add {
       float: left;
    text-align: center;
    padding-left: 8%;
    /* position: absolute; */
    cursor: pointer;
    padding-bottom: 6%;
}
.fake-input-right-addNew {
          float: left;
    /* text-align: center; */
    padding-left: 8%;
    position: relative;
    padding-bottom: 9%;
}
img#profile-Img {
    padding-left: 50%;
}
.profileP {
       /* margin-top: -12px; */
    /*padding-bottom: 100%;*/
}

.fake-input-left-search {
    width: 23%;
    /*padding-left: 50%;*/
    float: right;
}


.Driversdiv {
    font-size: 12px;
    /*padding-right: 25%;*/
}

p.DriversdivP{
    color: #848080;
    font-size: 16px;
}
li.DriversdivLi {
    padding-right: 54px;
}

ul.DriversdivUl {
    background-color: white;
    margin-left: -23%;
    list-style-type: none;
    /*margin: 0;*/
    padding: 0;
    overflow: hidden;
    /*background-color: #2C2D72;*/
    /*position: fixed;*/
    top: 0;
    width: 100%;
    height: 115px;
    /*float:right;*/
    color: #BEC0C2; 
    /* text-align: center; */
}
li.DriversdivLiActive {
    /*padding-right: 54px;*/
    border-bottom: 1px solid #2C2D72;
}
p.DriversdivPActive {
    color: #2C2D72;
    font-size: 16px;
    margin: 0;
    margin-top: 10%;
}  
.DriversdivT {
    font-size: 12px;
    padding-right: 25%;
    margin-top: -5%;
        margin-bottom: -1%;
}



.skylight-dialog {
        border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    -webkit-border-radius: 15px !important;
    border: 1px double #BEC0C2;
        left: 54% ;
}

a.skylight-close-button{
        left: 15px !important;
    top: 5px !important;
             right: 100% !important; 
}
p.Sky-P {
    color: #2C2D72;
    font-size: 16px;
}

.PopClass{
        width: 100%;
}
.PopClass-Right {
    width: 40%;
    float: right;
    text-align: center;
}

.PopClass-Right-Div {
   margin-right: 75%
}
.PopClass-Right-Div-Contents-Div {
      padding-bottom: 1%;
}

.PopClass-Right-Div-Contents-DivNew {
         padding-bottom: 1%;
    width: 130%;
    text-align: right;
}
.PopClass-Left {
    width: 60%;
        float: left;
            margin-top: 1%;
}

p.PopP{
            font-size: 14px;
            color: #2C2D72;
}

.TextFieldPopCodeDiv{
    width: 100%;
        padding-bottom: 3%;
}

.TextFieldPopPerDiv{
    width: 100%;
}

.Options-Groups{
  width: 100%;
    margin-left: 55%;
    padding-bottom: 10%;
}
.OptionsO{
       float: left;
    margin-left: -26%;
    width: 10%;

}
.OptionsT{
         float: left;
    width: 10%;
    padding-left: 4%;
    margin-left: -5%;
    padding-right: 5%;
}
.OptionsTh{
       float: left;
    padding-right: 10%;
    width: 10%;
    padding-left: 10%;
}

select.SelectPopD{
        width: 50%;
    direction: rtl;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #2C2D72;
    height: 25px;
    margin-left: 18%;
}
select.SelectPopM{
       width: 50%;
    direction: rtl;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #2C2D72;
    height: 25px;
    margin-left: 50%;

}
select.SelectPopY{
        width: 50%;
    direction: rtl;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #2C2D72;
    height: 25px;
    margin-left: 18%;
}
PopClass-Left input{
    font-size: 14px;
            color: #2C2D72;
}

input.TextFieldPopCode{
        border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #2C2D72;
    height: 25px;
        width: 62%;
    margin-left: 29%;
}

input.TextFieldPopPer{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #2C2D72;
    height: 25px;
    width: 65px;
    margin-left: 79%;
        margin-bottom: 4%;
            margin-top: 1%;
}

.PopClass-Left-Div {
margin-top: 1%;
}

.buttonT{
    /* padding-top: 2%; */
    margin-left: 50%;
}


input.coolT {
   
background-repeat: no-repeat;
background-position: left;
padding-left: 500px;
    border-radius: 40px;
    padding: 20px;
    width: 200px;
    font-family: Cairo;
    font-size: 20px;
        line-height: 5px;
  background: #2C2D72;
  background-image: -webkit-linear-gradient(left, #2C2D72, #28B8A8);
  background-image: -moz-linear-gradient(left, #2C2D72, #28B8A8);
  background-image: -ms-linear-gradient(left, #2C2D72, #28B8A8);
  background-image: -o-linear-gradient(left, #2C2D72, #28B8A8);
  background-image: linear-gradient(to right, #2C2D72, #28B8A8);
color: white;
}




.buttonPop{
      padding-top: 5%;
    margin-left: 50%;
}


input.coolPop {
   
background-repeat: no-repeat;
background-position: left;
padding-left: 500px;
    border-radius: 40px;
    padding: 20px;
    width: 200px;
    font-family: Cairo;
    font-size: 20px;
        line-height: 5px;
  background: #2C2D72;
  background-image: -webkit-linear-gradient(left, #2C2D72, #28B8A8);
  background-image: -moz-linear-gradient(left, #2C2D72, #28B8A8);
  background-image: -ms-linear-gradient(left, #2C2D72, #28B8A8);
  background-image: -o-linear-gradient(left, #2C2D72, #28B8A8);
  background-image: linear-gradient(to right, #2C2D72, #28B8A8);
color: white;
}



.buttonTT{
        margin-top: 20%;
    margin-left: 45%;
}

input.coolTT {
   
background-repeat: no-repeat;
background-position: left;
padding-left: 500px;
    border-radius: 40px;
    padding: 20px;
    width: 200px;
    font-family: Cairo;
    font-size: 20px;
        line-height: 5px;
  background: #2C2D72;
  background-image: -webkit-linear-gradient(left, #2C2D72, #28B8A8);
  background-image: -moz-linear-gradient(left, #2C2D72, #28B8A8);
  background-image: -ms-linear-gradient(left, #2C2D72, #28B8A8);
  background-image: -o-linear-gradient(left, #2C2D72, #28B8A8);
  background-image: linear-gradient(to right, #2C2D72, #28B8A8);
color: white;
}

.Select-control {
    background-color: #fff;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #333;
    cursor: default;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    height: 36px;
    outline: none;
    overflow: hidden;
    position: relative;
     width: 121%  !important;
    text-align: right;
        width: 20px;
        /*padding-left: 25px;*/
}
.Select-clear-zone {
    display: none;
}
Select-arrow-zone {
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 25px;
    padding-right: 40px !important;
    margin-left: 0%;
}

.Select-arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 2.5px;
    display: inline-block;
    height: 0;
    width: 0;
    position: relative;
    /* margin-right: 41px; */
}
span.Select-clear{
    display: none;
}
.Select-clear{
        display: none;
}

.Select-arrow-zone{
/*padding-right: 40px !important;*/
padding-left: 25% !important;
}






.menu-outer-top2 .Select-arrow-zone {
   padding-left: 0px !important;
}

.menu-outer-top2 .Select-menu-outer {
    /*width: 121%;*/
     width: 120%;
}

.menu-outer-top3 .Select-arrow-zone {
   padding-left: 0% !important;
}

.menu-outer-top3 .Select-menu-outer {
    /*width: 121%;*/
     width: 120%;
}


.menu-outer-top .Select-multi-value-wrapper {
    float:none!important
}


.Select-arrow{
        margin-left: -10px;
}

.Select-placeholder, .Select--single > .Select-control .Select-value{
         padding-left: 0px !important; 
}
    



input[type="file"] {
    display: none;
}
.custom-file-upload {
    /*border: 1px solid #ccc;*/
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
       /*background-image: url("./redashboard/Group 1548.png");*/
           margin-left: 65%;
}


.BOOMMM {
    margin-right: 40%;
        margin-bottom: -1%;
}

.CreateBigDiv{
        width: 100%;
            padding-top: 5%;
}

.CreateBigDiv-right{
        width: 50%;
    float: right;
        /*padding-top: 5%;*/
}
.CreateBigDiv-right2{
        width: 45%;
    float: right;
        /*padding-top: 5%;*/
}

.CreateBigDiv-right-right{
        width: 50%;
    float: right;
    /*margin-top: 2%;*/
}

.CreateBigDiv-right-rightDis{
           width: 50%;
    float: right;
    margin-top: 0%;
}


.CreateBigDiv-right-right7aram{
          width: 50%;
    float: right;
    /* margin-top: 2%; */
    text-align: right;
}

.CreateBigDiv-right-left{
        width: 50%;
    float: left;
}



.CreateBigDiv-right-lefthmm{
          width: 50%;
    margin-top: 2%;
    float: left;
}


.CreateBigDiv-right-leftLollll{
      width: 50%;
    float: left;
    padding-top: 2%;
}


.CreateBigDiv-right-leftLol{
        width: 50%;
    float: left;
}

.CreateBigDiv-left{
          width: 50%;
    float: left;
    /* margin-top: -14%; */
    margin-top: -1%;
}
.CreateBigDiv-leftLol{
            width: 41%;
    float: left;
    margin-top: 1%;
}

.CreateBigDiv-left-what{
               width: 50%;
    float: right;
    /* margin-top: -14%; */
    /* text-align: right; */
}
.CreateBigDiv-left-what2{
               width: 55%;
    float: right;
    /* margin-top: -14%; */
    /* text-align: right; */
}
.CreateBigDiv-left-right{
         /* width: 50%; */
    float: right;
    /* text-align: -webkit-right; */
    /* display: inline-grid; */
    /* margin-right: 10%; */
    /* margin-top: 2%; */
    padding-right: 5%;
}

.CreateBigDiv-left-rightLol{
         /*width: 50%; */
    float: right;
    text-align: -webkit-right;
    display: inline-grid;
    margin-right: 10%;
    margin-top: -8%;
}



.CreateBigDiv-left-leftDis{
            width: 50%;
    float: left;
    text-align: center;
    margin-top: 5%;
    margin-left: 28%;
}
.CreateBigDiv-left-leftDis2{
      width: 50%;
    float: left;
    text-align: center;
    /* margin-top: -32%; */
    margin-top: 4%;
    /* margin-left: 35%; */
    padding-left: 25%;
}

.CreateBigDiv-left-leftLol{
         width: 50%;
    float: right;
    text-align: center;
    margin-top: -6%;
    /* margin-left: 72%; */
    margin-right: -20%;
}

.CreateBigDiv-left-leftLolLol{
         width: 50%;
    float: left;
    text-align: center;
    /* margin-top: 2%; */
}

.CreateBigDiv-left-leftLolLolLLL{
         width: 50%;
    float: left;
    text-align: center;
     margin-top: 2%; 
}



.CreateBigDivPDiv{
        /* margin-top: -5%; */
    margin-right: -10%;
    /* padding-left: 17%; */
    text-align: right;
}
input.CreateBigDivP {
         width: 70%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #2C2D72;
    height: 40px;
    /* width: 62%; */
    margin-left: 20%;
    margin-bottom: 4%;
    margin-top: 0%;
}

input.CreateBigDivPTTTT {
           width: 70%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #2C2D72;
    height: 40px;
    /* width: 62%; */
    margin-left: 66%;
    margin-bottom: 4%;
    margin-top: 6%;
}

p.CreateBigDiv {
          margin-bottom: 0%;
    margin-top: 35%;
    font-size: 16px;
     text-align: right; 
    margin-right: -200%;
    font-family: Cairo;
        padding-bottom: 10%;
}

p.CreateBigDivDis {
     margin-bottom: 10%;
    /* margin-top: 35%; */
    font-size: 16px;
    /* text-align: right; */
    margin-right: -200%;
    font-family: Cairo;
}


p.CreateBigDiv7aram {
         margin-bottom: 8%;
    /* margin-top: 35%; */
    font-size: 16px;
    /* text-align: right; */
    /* margin-right: -200%; */
    margin-right: 50%;
    font-family: Cairo;
}

p.CreateBigDivLol {
        margin-bottom: 7%;
    margin-top: 35%;
    font-size: 16px;
    /* text-align: right; */
    margin-right: -200%;
    font-family: Cairo;
}
p.CreateBigDivPapers{
   margin-bottom: 10%;
    /* margin-top: 35%; */
    font-size: 16px;
    /* text-align: right; */
    margin-right: -200%;
    font-family: Cairo;
}
p.CreateBigDivPapersFml{
     margin-bottom: 9%;
    /* margin-top: 35%; */
    font-size: 16px;
    /* text-align: right; */
    margin-right: -200%;
    font-family: Cairo;
}

p.CreateBigDivPapersLol{
   margin-bottom: 30%;
    /* margin-top: 35%; */
    font-size: 16px;
    /* text-align: right; */
    margin-right: -200%;
    font-family: Cairo;
    height: 30px;
}
input.checkmate {
    /* padding-bottom: 27%; */
    margin-top: 0%;
    /* font-size: 16px; */
    /* text-align: right; */
    /* float: right; */
    margin-right: 60%;
    float: right;
}

p.CreateBigDivNew {
         margin-bottom: 8%;
    margin-top: 0%;
    font-size: 16px;
    text-align: right;
    /* float: right; */
    margin-right: 60%;
}

p.CreateBigDivNewLol {
           /* margin-bottom: 8%; */
    margin-top: 8%;
    font-size: 16px;
    text-align: right;
    /* float: right; */
    margin-bottom: 0%;
    margin-right: 60%;
}

p.CreateBigDivLeft {
                /* width: 35%; */
    /* margin-top: 26%; */
    font-size: 16px;
    text-align: right;
    font-family: Cairo;
    margin-left: 0% !important;
    margin-right: 0%;
    margin-bottom: 0%;
    float: right;
    height: 30px;
    margin-top: 0%;
    padding-bottom: 26%;
}

img.custom-file-upload-img {
    width: 100%;
        border-radius: 50%;
}
.Options-GroupsTTTT{
         width: 100%;
    margin-left: 50%;
    /* padding-bottom: 10%; */
    /* margin-top: -4%; */
}

.Options-GroupsT{
        width: 100%;
    margin-left: 50%;
    /* padding-bottom: 10%; */
    /* margin-top: -4%; */
}
.Options-GroupsF{
        width: 100%;
    margin-left: 50%;
    /* padding-bottom: 10%; */
    margin-top: 4%;
}

.Options-GroupsFi{
           width: 100%;
    margin-left: 5%;
    /* padding-bottom: 10%; */
    margin-top: 2%;
    margin-bottom: 2%;
}


.OptionsOT{
        float: left;
    margin-left: 15%;
    margin-right: 15%;
    width: 12%;
}
.OptionsThT{
        float: left;
     float: left;
    /* padding-right: 10%; */
    width: 10%;
    /* padding-left: 10%; */
}
.OptionsTT{
       float: left;
    width: 10%;
    /* padding-left: 4%; */
    margin-right: 15%;
     padding-right: 5%
}
/*.OptionsThT{
        float: left;
     float: left;
}*/
/*
.CreateBigDivPT{
    width: 75%;
}*/

input.CreateBigDivPT {
         width: 70%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #2C2D72;
    height: 40px;
    /* width: 62%; */
    margin-right: -10%;
    padding-left: 0%;
    margin-bottom: 1%;
    margin-top: 4%;
}


input.CreateBigDivPTTT {
            width: 70%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #2C2D72;
    height: 40px;
    /* width: 62%; */
    /* margin-right: -10%; */
    padding-left: 0%;
    margin-bottom: 1%;
    margin-top: 4%;
    margin-left: 66%;
}

input.CreateBigDivPTLol {
          width: 70%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #2C2D72;
    height: 40px;
    /* width: 62%; */
    margin-right: -10%;
    padding-left: 0%;
    margin-bottom: 1%;
    margin-top: 5%;
}



.custom-file-upload-inner-div{
        width: 100%;
}

.custom-file-upload-inner-divLol{
          width: 100%;
    padding-bottom: 25%;
    margin-left: 40%;
    margin-top: -10%;
}

.custom-file-upload-inner-div-right{
        width: 50%;
    float: right;
}

.custom-file-upload-inner-div-left{
    float: left;
    width: 50%;
    margin-top: -10%;
    margin-left: 40%;
    padding-bottom: 1%;
}


.nextprevious {
    /*position: absolute;*/
    /*top: 96%;*/
}
.disdis {
    float: left;
    width: 100%;
    margin-left: 30%;
}



.upload-button-div {
       /* padding-top: 6%; */
    display: flow-root;
    padding-right: 10%;
}
.upload-button-divDis {
       /* padding-top: 6%; */
    display: flow-root;
    padding-right: 10%;
    padding-bottom: 10%;
    width: 100%;
}

.upload-button-divDisHello {
        /* padding-top: 6%; */
    display: flow-root;
    padding-right: 10%;
    padding-bottom: 3%;
    width: 100%;
}

.upload-button-divDisHello2 {
        /* padding-top: 6%; */
    display: flow-root;
    padding-right: 10%;
    padding-bottom: 3%;
    width: 100%;
        margin-left: 5%;
}

.upload-button-divDisHelloNew {
    display: flow-root;
    padding-right: 10%;
    padding-bottom: 10%;
    width: 100%;
}

img.helloimage {
         margin-top: -10%;
    margin-left: 20%;
    height: 42px;
    margin-bottom: 3%;
}

img.helloimage2{
          /* margin-top: -10%; */
    margin-top: -10%;
    /* margin-left: 10%; */
    height: 42px;
    margin-bottom: 3%;
    margin-right: 10%;
}

.uploadWhat {
    /* margin-left: -198%; */
    width: 100%;
    margin-left: 30%;
}
.uploadWhat2 {
        width: 100%;
    margin-left: 40%;
}

.upload-button-divLolll {
          /* padding-top: 6%; */
    display: flow-root;
    padding-right: 10%;
    PADDING-BOTTOM: 7%;
}
.upload-button-divLolllFml {
              /* padding-top: 6%; */
    display: flow-root;
    padding-right: 10%;
    PADDING-BOTTOM: 10%;
}


.upload-button-divLol {
       /* padding-top: 6%; */
    display: flow-root;
    padding-right: 10%;
}


label.upload-button {
        padding: 2%;
    padding-left: 17%;
    border: 1px solid #BEC0C2;
    background-color: #BEC0C2;
    color: white;
    text-align: center;
    padding-right: 13%;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 10px;
    font-family: Cairo;
    font-size: 14px;
}


label.upload-buttonWhat {
         padding: 8px;
    padding-left: 17%;
    border: 1px solid #BEC0C2;
    background-color: #BEC0C2;
    color: white;
    text-align: center;
    padding-right: 13%;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 10px;
    font-family: Cairo;
    font-size: 14px;
    float: right;
    margin-right: -100%;
}


label.upload-buttonWhatisThis {
          padding: 8px;
    padding-left: 17%;
    border: 1px solid #BEC0C2;
    background-color: #BEC0C2;
    color: white;
    text-align: center;
    padding-right: 13%;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 10px;
    font-family: Cairo;
    font-size: 14px;
    float: right;
    height: 26px;
    margin-right: -100%;
    margin-bottom: 3%;
}


label.upload-buttonWhatisThisLol {
          padding: 8px;
    padding-left: 17%;
    border: 1px solid #BEC0C2;
    background-color: #BEC0C2;
    color: white;
    text-align: center;
    padding-right: 13%;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 10px;
    font-family: Cairo;
    font-size: 14px;
    float: right;
    height: 26px;
    margin-right: -100%;
    margin-bottom: 3%;
}


img.hello {
     float: left;
    margin-left: -125px;
    /* margin-top: 5px; */
    /* top: 75%; */
    margin-top: 8px;
    position: absolute;
}

p.CreateBigDivP{
        margin-top: 10%;
    float: right;
    margin-right: -20%;
}

p.CreateBigDivPIdk{
          margin-top: 0%;
    float: right;
    font-size: 14px;
    margin-right: -65%;
    font-size: 14px;
}


div#maincontainer{
        margin-left: 30%;
    padding-top: 2%;
}
div#maincontainerLol{
        margin-left: 25%;
    padding-top: 2%;
        min-width: 300px;
}
    /*padding-right: 2%;*/

    img.one {
    opacity: 0.5;
    filter: alpha(opacity=50); 
    
}

img.one.active{
    opacity: 1;
    filter: alpha(opacity=100); 
}

img.two {
    padding-right: 2%;
}

    .three {
        float: left;
        border: 1px;
    padding: 10px;
}
  .three.active{
       float: left;
    /*border-radius: 50%;
    border: 1px solid red;
    padding: 10px;*/
}


.four {
    float: left;
        padding-left: 10px;
    padding-right: 10px;
    border: 1px;
    padding: 10px;
}


#tabss {
        
        width: 90%;
    margin-left: 5%;
    background: white;
}



#tabspanels {
    min-height: 350px;
    margin-left: 15px;
    margin-right: 15px;
}
.react-tabs__tab {
        color: #848080;
    font-size: 16px;
    font-family: Cairo;
    margin-left: 3%;
        cursor: pointer;
    margin-right: 3%;
}

.react-tabs__tab--selected {
    border-bottom: 1px solid #2C2D72;
    color: #2C2D72;
        font-size: 16px;
        font-family: Cairo;
            padding-left: 0%;
                cursor: pointer;
    padding-right: 0%;
}

ul.react-tabs__tab-list {
    background-color: white;
  margin-left: -30%;
  /*margin-top: -4%;*/
    /*padding-bottom: -10%;*/
  list-style-type: none;
    /*margin: 0;*/
    padding: 0;
    overflow: hidden;
    /*background-color: #2C2D72;*/
    /*position: fixed;*/
    top: 0;
    width: 100%;
    height: 115px;
    /*float:right;*/
    color: #BEC0C2; 
}


.fake-input-right {
    margin-top: -7%;
}
.Driver {
            float: right;
    text-align: center;
    padding-right: 0%;
    /* position: absolute; */
    width: 100%;
}
img#Driver-Img {
    /*padding-left: 50%;*/
}
.DriverP {
    margin-top: -12px;
}

.DriverPTTT {
    margin-top: -9%;
}

.DriverPTTTNew {
       margin-top: -10%;
    margin-right: 10%;
}

.DriverI {
      width: 50%;
    float: right;
}

.DriverSearch {
    width: 23%;
    /*padding-left: 50%;*/
    float: right;
}

.DriverSearchLol {
        width: 23%;
    /* padding-left: 50%; */
    float: right;
    margin-right: 125%;
    padding-bottom: 20%;
}

.DriverSearchText{

}



.DriverRight{
        width: 50%;
    float: right;
}
.DriverRight-Right{
  width: 50%;
    float: right;
}

DriverRight-Left{
        width: 50%;
    float: left;
}
.DriverLeft{
        width: 50%;
    float: left;
}


.DriverPDiv {
    width: 50%;
    float: right;
    margin-right: -30%;
        margin-top: 5%;
}

.DriverRightInner{
     width: 100%;
}

img.tdImgDriver {
    margin-top: 10%;
}

td.PTDDriver{

font-size: 14px;

}

p.DriverPParag {
    color: #2C2D72;
    font-family: Cairo;
    font-size: 16px;
}

input.DriverProfileText{
          width: 70%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #2C2D72;
    height: 40px;
    /* width: 62%; */
    margin-left: 30%;
    margin-top: 4%;
    margin-bottom: 0%;
    text-align: right;
}

input.DriverProfileTextT{
            width: 70%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #2C2D72;
    height: 40px;
    /* width: 62%; */
    margin-left: 65%;
    margin-top: 4%;
    margin-bottom: 0%;
    text-align: right;
}
input.DriverProfileTextF{
           width: 70%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #2C2D72;
    height: 40px;
    /* width: 62%; */
    margin-left: 65%;
    margin-top: 4%;
    /* margin-bottom: 3%; */
    text-align: right;
}
.Driver-Right-Right-P {
          margin-top: -6%;
    width: 100px;
    /* padding-right: 90%; */
    text-align: right;
    margin-left: 23%
}
img.browser {
    width: 10%;
        padding-bottom: 4%;
    float: right;
}

img.browserDis {
    width: 0%;
    padding-bottom: 4%;
    float: left;
}

img.browserLol {
       width: 12%;
    padding-bottom: 4%;
    float: right;
    margin-right: -100%;
}


ul.SubdivUl{
   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #2C2D72;*/
    /*position: fixed;*/
    top: 0;
    width: 100%;
    height: 115px;
    /*float:right;*/
    color: #BEC0C2; 
}

li.active.li.Sub{
    padding-right: 0%;
}

a.active.selected {
    border-bottom: 0px;
    color: #2C2D72;
}
li.active.li.Sub {
    padding-right: 3%;
}
.Subdiv {
    padding-right: 38%;
}
.nextpreviousButtons{
        border: none;
    background: white;
        color: #BEC0C2;
    font-size: 20px;
    float: left;
}
p.nextpreviousP {
    float: left;
    margin-top: 0%;
}

.whatwhat{
        float: right;
}
.what {
       width: 100%;
    float: right;
    /* padding-bottom: 50%; */
    /* padding-right: 5%; */
    margin-right: 15%;
}

.duuuude {
         float: right;
    margin-top: 4%;
    margin-right: 2%;
    /* margin-top: 35%; */
    /* margin-right: 104%; */
    /* padding-right: 50%; */
}
.dunno {
   border-bottom: 2px solid #BEC0C2;
    width: 70%;
    /* padding-left: 43%; */
    margin-left: 15%;
    padding-top: 20%;
}







.x {
            background-color: #fff;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #333;
    cursor: default;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    height: 40px;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 60px;
    text-align: center;
}
p.supP {
    float: right;
    font-size: 20px;
    margin-right: 23%;
    color: #2C2D72;
}

.supman {
    width: 100%;
       padding-top: 3%;
}

p.dudeP{
        font-size: 20px;
            color: #2C2D72;
}

/*.Select-menu-outer{
    width: 100% !important;
}*/
/*div.Select-menu-outer{
    width: 117% !important;
    background-color: red !important;
    color: red !important;
    overflow-y: hidden;
}*/
div.Select.Select--single.is-clearable.is-focused.is-open.is-searchable .Select-control{
    overflow-y: scroll !important;
    /*position: absolute;*/
/*background: #00FECD;*/
}
.div.Select-menu-outer{

    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 20px!important;
}

.menu-outer-top .Select-menu-outer {
    /*width: 121%;*/
     width: 120%;
}
.menu-outer-top .Select-control {
/*background: red;*/

}
.Select-option:last-child  {
/*border-color: red !important;*/
}
.menu-outer-top .Select-menu-outer:last-child  {
/*border-color: red !important;*/
    
}
.Select--single.is-clearable.is-focused.is-open.is-searchable .Select-arrow-zone{
display: none;
}
/*Select menu-outer-top Select--single is-clearable is-focused is-open is-searchable*/


.Select-option {
	/*box-sizing: border-box;
	background-color: red !important;
	cursor: pointer;
	display: block;*/
    /*color: red !important;*/
    /*background: white !important;*/
    /*height: 10%*/

}
span.Select-arrow
/*.Select-option.is-focused {

    color: white !important;
    background: red !important;
border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 20px!important;
}*/
/*.Select-option:nth-child(6n+0)  {
border-bottom-right-radius: 25px !important;
    border-bottom-left-radius: 25px!important;
}*/
.Select-option:nth-child(6n)  {
    /*background: red !important;*/
/*border-bottom-right-radius: 25px !important;
    border-bottom-left-radius: 25px!important;*/
}
.Select-option:nth-child(n+6)  {
    /*background: red !important;*/
/*border-bottom-right-radius: 25px !important;
    border-bottom-left-radius: 25px!important;*/
}
/*.Select-option:last-child {
	 border-bottom-right-radius: 20px!important;
    border-bottom-left-radius: 20px!important;
	}*/
.Select-menu {
	/*max-height: ($select-menu-max-height - 2px);*/
	/*border-bottom-right-radius: 20px !important;
    5aly balaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaak
    border-bottom-left-radius: 20px!important;*/
    /*overflow-y:  hidden !important;*/
    /*position: relative;*/
}
.div.Select-menu-outer{
    /*border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px!important;*/
}
.Select-option  {

/*border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px!important;*/

    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px!important;
    border-bottom: 0px!important;

 /*border-bottom-right-radius: 1px solid rgb(127, 0, 0);
    border-bottom-left-radius: 1px solid rgba(255, 0, 0, .5);
    -webkit-background-clip: padding-box; 
    background-clip: padding-box;*/
}
.Select-option.is-focused {
		background: #00FECD !important;
        border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px!important;
    }
   
/*.Select-container.condensed .Select .Select-control {
    width: auto;
}
.Select-container.condensed:not(.multi) .Select .Select-value,
.Select-container.condensed .Select .Select-placeholder {
    position: static;
    display: table-cell;
    padding-right: 0;
}
.Select-container.condensed .Select .Select-loading-zone {
    padding-left: 5px;
}
.Select-container.condensed:not(.multi) .Select .Select-value ~ .Select-input,
.Select-container.condensed .Select .Select-placeholder ~ .Select-input {
    position: absolute;
    left: 0;
}
.Select-container.condensed .Select .Select-menu-outer {
    width: auto;
    min-width: 100%;
    background-color: red;
}
.Select-container.condensed .Select .Select-menu {
    overflow-y: auto;
    overflow-x: hidden;
}
.Select-container.condensed:not(.multi) .Select .Select-option {
    white-space: nowrap;
    padding-right: 25px; 
}
.Select-container.condensed.multi .Select .Select-multi-value-wrapper {
    display: initial;
    position: initial;
}*/

.lolz {
       text-align: center;
    /* font-size: 14px; */
    /* margin-left: 5%; */
    /* margin-right: 5%; */
    /*padding-right: 5%;
    padding-left: 5%;*/
}

table.tableclasstwo {
           width: 80%;
    margin-left: 10%;
    /* min-height: 653px; */
    /* margin-right: 30%; */
    border: transparent;
    /* padding-left: 40%; */
}
img.dude{
        width: 115%;
}
img.dudeHello{
           width: 40%;
    border-radius: 30%;
    max-width: 250px;
}

fieldset.yowazap{
        border: none;
    text-align: right;
    /* float: right; */
    color: #2C2D72;
}

legend.heyheyhey {
    font-size: 18px;
    color: #2C2D72;
        padding-bottom: 1%;
}

.Options-GroupsTheyyo {
        /* width: 100%; */
    margin-left: 50%;
    padding-bottom: 4%;
    margin-top: 1%;
}

.Options-GroupsTheyyoyo {
      /* width: 100%; */
    margin-left: 50%;
    /* padding-bottom: 10%; */
    margin-top: 1%;
}

.Options-GroupsTheyyomew {
        /* width: 100%; */
    /* margin-left: 50%; */
    padding-bottom: 4%;
    margin-top: 1%
}

.Options-GroupsTheyyoyonew {
         /* width: 100%; */
    /* margin-left: 50%; */
    /* padding-bottom: 10%; */
    margin-top: 1%;
}



p.idkm8{
        color: #2C2D72;
    font-size: 14px;
}

.rightidkm8 {
    float: right;
}
.leftidkm8 {
    /* float: right; */
}


img.deletebutton {
       margin-top: 30%;
    /* padding-left: 50%; */
    /* margin-right: 50%; */
}






.toolbarRightSide___1Sdfc {
    margin-top: 1% !important;
    padding-right: 5% !important;
}


.yoyom8{
       padding-top: 5%;
    padding-bottom: 5%;
}


p.statisticsP {
    font-size: 18px;
    margin-bottom: 5px;
    color: #2C2D72;
}

p.statisticsPNew {
      font-size: 18px;
    margin-bottom: 5px;
    color: #2C2D72;
    margin-right: 4%;
}

img#statisticsImg{
        float: left;
    margin-left: 45%;
    /* margin-bottom: -12%; */
    margin-top: -2%;
}  

img#statisticsImg2{
                /* float: left; */
    margin-left: 35%;
    /* margin-bottom: -12%; */
    margin-top: 4%;
} 
img#statisticsImgnew{
      float: left;
    margin-left: 39%;
    /* margin-bottom: -12%; */
    margin-top: -2%;
}  

img#statisticsImgPop{
           float: right;
    margin-left: 45%;
    /* margin-bottom: -12%; */
    margin-top: -2%;
    width: 10%;
}


.statistics {
    /* float: right; */
    padding-bottom: 5%;
    margin-right: -90%;
}
/*button.ril-close.ril-toolbar__item__child.toolbarItemChild___2U_MP.builtinButton___1zqo6.closeButton___3BdAF{
    display: none;
}*/

.tdDiv {
    height: 20px;
}

p.statsPopInnerDiv-right-p {
    margin-right: 35%;
    max-height: 23px;
    /* width: 100%; */
    font-weight: bold;
    margin-top: 0%;
    font-size: 16px;
    margin-bottom: 5px;
    color: #2C2D72;
    text-align: right
}

.statsPopInnerDiv-right {
    float: right;
    /* max-height: 56px; */
    width: 50%;
}

.statsPopInnerDiv-left {
    /* float: left; */
    /* max-height: 56px; */
    /* width: 50%; */
    width: 50%;
}

p.statsPopInnerDiv-left-p {
       margin-left: 50%;
    max-height: 23px;
    font-size: 16px;
    margin-bottom: 5px;
    color: #2C2D72;
    margin-top: 0%;
}
.blur {
    filter:blur(5px)
}

.modalXButton {
    color: #999;
    font-size: 45px;
    cursor: pointer;
    margin-left:20px
}

.modalButton {
    background: #2C2D72; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #2C2D72 , #28B8A8); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #2C2D72, #28B8A8); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #2C2D72, #28B8A8); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #2C2D72 , #28B8A8); /* Standard syntax */
      padding: 5px 30px;
    border: none;
    border-radius: 72px;
    color: #fff;
    font-family: Cairo;
        font-size: 18px;
    font-size: 18px;
    margin-top: 10%;
    margin-bottom:5%;
}

 p.PAstrix {
    margin-bottom: 0%;
    margin-top: -15%;
    font-size: 16px;
    /* text-align: right; */
    /* margin-right: -200%; */
    margin-right: 45%;
    font-family: Cairo;
    color: red;
}

.newdivclass2 {
    padding-bottom: 3%;
}

.newdivclass {
  padding-top: 3%;
    padding-bottom: 6%;
}




















.Test {
    text-align: left;
    padding-bottom: 6%;
}
/*.NewBOOMMM {
    float: left;
}*/
.NewBOOMMM {
    float: right;
    padding-right: 1%;
}
/*input.Newcheckmate {
    float: left;
}*/
input.Newcheckmate {
      float: right;
    margin-right: 40%;
    margin-top: 0.75%;
}
/*p.NewCreateBigDivNewLol {
    margin: 0%;
    font-family: Cairo !important;
    font-size: 16px;
}*/

p.NewCreateBigDivNewLol {
      float: right;
    margin: 0%;
    font-family: Cairo !important;
    text-align: right;
    font-size: 16px;
    min-width: 110px;
    padding-right: 40%;
    /* padding-right: 46%; */
    padding-left: 5%;
}
input.NewCreateBigDivP {
                float: right;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #2C2D72;
    font-family: Cairo !important;
    font-size: 16px;
    margin-right: 5%;
    width: 30%;
    height: 35px;
}
p.NewCreateBigDivPIdk {
    margin: 0%;
    font-family: Cairo !important;
    font-size: 15px;
}
.NewTestP {
    float: left;
}




input.NewNewCreateBigDivPTLol {
    float: right;
    /* padding: 0%; */
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #2C2D72;
    font-family: Cairo !important;
    font-size: 16px;
    width: 30%;
}

p.NewNewCreateBigDivLol {
         float: right;
    margin: 0%;
    /* min-width: 100px; */
    font-size: 16px;
    min-width: 85px;
    padding-right: 5%;
    text-align: right;
    padding-left: 5%;
}

.newplan {
    width: 100%;
    /*padding-bottom: 5%;*/
        min-height: 50px;
}

.CreateBigDiv-leftNewNew {
    width: 50%;
    float: right;
    /* margin-top: -14%; */
}

.Newnewplan {
     width: 100%;
    /* float: right; */
    padding-bottom: 0%;
    min-height: 50px;
}

div#maincontainerLolNewNew {
       /* margin-left: 25%; */
    float: right;
    /* padding-top: 2%; */
    min-width: 300px;
    padding-right: 1%;
}


.Options-GroupsFiNewNew {
    width: 100%;
}

.OptionsOTNew {
    float: right;
    /* margin-left: 15%; */
    /* margin-right: 15%; */
    /* width: 12%; */
           padding-right: 2%;
}

.OptionsOTNewYolo {
    float: right;
    /* margin-left: 15%; */
    /* margin-right: 15%; */
    /* width: 12%; */
           padding-right: 15%;
}

.OptionsTTNew {
    float: right;
    /* margin-left: 15%; */
    /* margin-right: 15%; */
    /* width: 12%; */
        padding-right: 5%;
}

.OptionsThTNew {
    float: right;
    /* margin-left: 15%; */
    /* margin-right: 15%; */
    /* width: 12%; */
}

.Inner-options-Div {
    padding-right: 10%;
}

img.twoNew {
    padding-right: 1%;
}
.threeNew {
         float: right;
    border: 1px;
    /* padding-top: 0%; */
    padding: 5%;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0.5%;
}
.threeNewNew {
      float: right;
    border: 1px;
    /* padding-top: 0%; */
    padding: 5%;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
}
.fourNew {
       float: right;
    border: 1px;
    padding: 5%;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10%;
}
.Select-control {
    min-width: 85px;
}

span.Select-arrow-zone {
    float: left;
}
.Select-arrow-zone {
    margin-top: 5%
}
span.Select-clear-zone {
    float: left;
}

span#react-select-2--value {
    float: left;
}


p.NewNewNewCreateBigDiv7aram {
       float: right;
    font-size: 16px;
    min-width: 100px;
    text-align: right;
    padding-right: 40%;
    margin: 0%;
    /* padding-left: 5%; */
}


input.NewDriverProfileText {
   float: right; 
    /* width: 70%; */
    border-radius: 5px;
    /* font-size: 16px; */
    margin-right: 5%;
    width: 36.9%;
    height: 35px;
    font-size: 16px;
    padding-right: 1%;
    text-align: right;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #2C2D72;
}

.NewCreateBigDiv7aram {
    padding-bottom: 7%;
    width: 100%;
}

input.NewNewNewNewCreateBigDivPTTT {
    float: right;
    /* width: 70%; */
    border-radius: 5px;
    font-size: 16px;
    /*margin-right: 5%;*/
    width: 32%;
    height: 35px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #2C2D72;
}

input.NewNewNewNewCreateBigDivPTTT2 {
      float: right;
    /* width: 70%; */
    border-radius: 5px;
    font-size: 16px;
    /* margin-right: 5%; */
    width: 32%;
    height: 35px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #2C2D72;
}

p.NewNewNewCreateBigDivLeft {
      float: right;
    font-size: 16px;
    min-width: 160px;
    margin: 0%;
    text-align: right;
    /* padding-left: 5%; */
        /*padding-right: 10%;*/
        padding-right: 20%;
}


.NewClassUser {
       padding-bottom: 6%;
    /*padding-bottom: 10%;*/
    min-width: 840px;
    min-height: 30px;
}
.NewClassUseryay {
     padding-bottom: 4%;
    /* padding-bottom: 10%; */
    min-width: 840px;
    min-height: 30px
}
.NewClassUserNew {
       padding-bottom: 6%;
    min-width: 840px;
}

.NewClassUserNewNewNew {
       padding-bottom: 6%;
    min-width: 840px;
}

.NewNewNewcustom-file-upload-inner-div-right {
       /* padding-left: 10%; */
    float: right;
    /* padding-left: 31%; */
}
.NewNewNewcustom-file-upload-inner-divLol {
    float: right;
    margin-top: -5%;
    /* padding-bottom: 2%; */
}
p.ANewClass {
    margin: 0%;
    /* padding-right: 10%; */
    /* margin-right: 5%; */
    /* min-width: 145px; */
}

.NewNewNewcustom-file-upload-inner-div-left {
    float: right;
    min-width: 145px;
    min-height: 25px;
    padding-top: 18%;
    /* margin-right: 124%; */
}

p.ANewClass {
    margin: 0%;
    padding-right: 30%;
    /* margin-right: 5%; */
    min-width: 145px;
    min-height: 25px;
}

.Options-GroupsTNewNew {
    /* width: 100%; */
    /* margin-left: 50%; */
    /* padding-bottom: 10%; */
    /* margin-top: -4%; */
    float: right;
    padding-right: 2%;
}

.OptionsThTNewNew {
    /* float: left; */
    float: right;
    /* padding-right: 10%; */
    /* width: 10%; */
    /* padding-left: 10%; */
}

.OptionsTTNewNew {
    float: right;
    /* width: 10%; */
    /* padding-left: 4%; */
    /* margin-right: 8%; */
    padding-right: 10%;
}   

.OptionsTTNewNewtrue {
    float: right;
    /* width: 10%; */
    /* padding-left: 4%; */
    /* margin-right: 8%; */
    padding-right: 15%;
}

.OptionsOTNewNew {
    float: right;
    /* margin-left: 15%; */
    /* margin-right: 15%; */
    /* width: 12%; */
    padding-right: 10%;
}


p.CreateBigDivDisNewNew {
          margin-bottom: 10%;
    /* margin-top: 35%; */
    font-size: 16px;
    text-align: right;
    min-width: 120px;
    margin-right: 75%;
    /* float: right; */
    font-family: Cairo;
}
.goodMor {
    padding-bottom: 10%;
}
.upload-button-divDisHelloGood {
    float: right;
}

label.upload-buttonGood {
    padding: 8px;
    padding-left: 17%;
    border: 1px solid #BEC0C2;
    background-color: #BEC0C2;
    color: white;
    text-align: center;
    padding-right: 13%;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 10px;
    font-family: Cairo;
    font-size: 14px;
}

p.CreateBigDivLeftNewNewNewNewNew{
    font-size: 16px;
    width: 125px;
    font-family: Cairo;
    height: 30px;
    margin: 0;
    padding-bottom: 30%;
}

.CreateBigDiv-left-rightNewwwww{
        width: 20%;
    float: right;
    text-align: right;
    /* text-align: -webkit-right; */
    display: inline-grid
}
.CreateBigDiv-left-rightNewwwww2{
        width: 20%;
    float: right;
    text-align: right;
        padding-right: 8%;
    /* text-align: -webkit-right; */
    display: inline-grid
}

p.CreateBigDivPapersTotallyNew{
        margin-bottom: 10%;
    /* margin-top: 35%; */
    font-size: 16px;
    text-align: right;
    /* margin-right: -200%; */
    padding-right: 60%;
    font-family: Cairo;
}

img.browserLolTotallyNew{
    width: 10%;
    padding-bottom: 4%;
    float: right;
}

.CreateBigDiv-left-leftLolLolNew{
    width: 50%;
    float: right;
    text-align: center;
}
p.CreateBigDivPapersLolBoom{
      margin-bottom: 30%;
    /* margin-top: 35%; */
    font-size: 16px;
    /* text-align: right; */
    /* margin-right: -200%; */
    font-family: Cairo;
    height: 30px;
}

.gradientButton {
    background-image: -webkit-linear-gradient(left, #2C2D72, #28B8A8);
  background-image: -moz-linear-gradient(left, #2C2D72, #28B8A8);
  background-image: -ms-linear-gradient(left, #2C2D72, #28B8A8);
  background-image: -o-linear-gradient(left, #2C2D72, #28B8A8);
  background-image: linear-gradient(to right, #2C2D72, #28B8A8);
}
p.statisticsP222{
           font-size: 18px;
    float: right;
    margin-bottom: 5px;
    color: #2C2D72;
    font-size: 18px;
    padding-right: 30%;
    /* margin-bottom: 5px; */
    color: #2C2D72;
    text-align: right;
}

.nnnnnnn {
      padding-bottom: 5%;
    width: 100%;
}



.Options-GroupsTNewNewcomecome{
    display: -webkit-box;
    float: right;
    padding-right: 6%;
}

.OptionsThTNewNewcomecome {
    /* float: left; */
    /* float: right; */
    margin-right: 10%;
    /* width: 10%; */
    /* padding-left: 10%; */
}

.OptionsTTNewNewtruecomecome {
    /* float: right; */
    /* width: 10%; */
    /* padding-left: 4%; */
    /* margin-right: 8%; */
    /* padding-right: 40%; */
    margin-right: 10%;
}

.OptionsOTNewNewcomecome {
    /* float: right; */
    /* margin-left: 15%; */
    /* margin-right: 15%; */
    /* width: 12%; */
    /* padding-right: 8%; */
}

input.NewNewNewNewCreateBigDivPTTT2comecome {
      float: right;
    /* width: 70%; */
    border-radius: 5px;
    font-size: 16px;
    /* margin-right: 5%; */
    width: 30%;
    height: 35px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #2C2D72;
}
img.NewNewNewcustom-file-upload-img {
    max-width: 80px;
    border-radius: 50%;
    border-radius: 0.5;
}


input.NewNewNewNewCreateBigDivPTTTcomebaby {
    float: right;
    /* width: 70%; */
    border-radius: 5px;
    font-size: 16px;
    /* margin-right: 5%; */
    width: 30%;
    height: 35px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #2C2D72;
}